dashboard-jcruz.json
[
    {
        "id": "4571324456ea2a51",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ec5caf0b746d7170",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "aade62f79cd52ed5",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "15ba7213a31d42c5",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "ec5caf0b746d7170",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "aade62f79cd52ed5",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "293f331604d8fd67",
        "type": "ui-group",
        "name": "Group 1",
        "page": "15ba7213a31d42c5",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "9682b326129ee7e2",
        "type": "mqtt-broker",
        "name": "LocalHost",
        "broker": "127.0.0.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f5b2400802f5beae",
        "type": "ui-gauge",
        "z": "4571324456ea2a51",
        "name": "Temperatura",
        "group": "293f331604d8fd67",
        "order": 2,
        "value": "temp",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperatura",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 610,
        "y": 40,
        "wires": [
            [
                "f0aea96056eda343"
            ]
        ]
    },
    {
        "id": "8894602de64eb8ab",
        "type": "ui-gauge",
        "z": "4571324456ea2a51",
        "name": "Humedad",
        "group": "293f331604d8fd67",
        "order": 1,
        "value": "hum",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humedad",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 600,
        "y": 120,
        "wires": [
            [
                "f0aea96056eda343"
            ]
        ]
    },
    {
        "id": "cbc9d5167772d850",
        "type": "ui-switch",
        "z": "4571324456ea2a51",
        "name": "",
        "label": "switch",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": true,
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": false,
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 330,
        "y": 320,
        "wires": [
            [
                "7af4b5b787f45efd"
            ]
        ]
    },
    {
        "id": "7af4b5b787f45efd",
        "type": "ui-led",
        "z": "4571324456ea2a51",
        "name": "",
        "order": -1,
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "states": [
            {
                "color": "#FF0000",
                "value": false,
                "valueType": "bool"
            },
            {
                "color": "#00FF00",
                "value": true,
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "385c1b87c52b2f27",
        "type": "random",
        "z": "4571324456ea2a51",
        "name": "",
        "low": "0",
        "high": "100",
        "inte": "false",
        "property": "temp",
        "x": 380,
        "y": 40,
        "wires": [
            [
                "f5b2400802f5beae"
            ]
        ]
    },
    {
        "id": "62fc15d9efe27e88",
        "type": "random",
        "z": "4571324456ea2a51",
        "name": "",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "hum",
        "x": 380,
        "y": 120,
        "wires": [
            [
                "8894602de64eb8ab"
            ]
        ]
    },
    {
        "id": "da1672f09408a4cf",
        "type": "inject",
        "z": "4571324456ea2a51",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "385c1b87c52b2f27",
                "62fc15d9efe27e88"
            ]
        ]
    },
    {
        "id": "f0aea96056eda343",
        "type": "function",
        "z": "4571324456ea2a51",
        "name": "function 1",
        "func": "msg.payload = {\n    temp: msg.temp,\n    hum: msg.hum\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 80,
        "wires": [
            [
                "a13f83267f08150b",
                "137c88614269d155"
            ]
        ]
    },
    {
        "id": "a13f83267f08150b",
        "type": "mqtt out",
        "z": "4571324456ea2a51",
        "name": "",
        "topic": "dashboard",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9682b326129ee7e2",
        "x": 950,
        "y": 300,
        "wires": []
    },
    {
        "id": "137c88614269d155",
        "type": "debug",
        "z": "4571324456ea2a51",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 60,
        "wires": []
    }
]