dashboard-jcruz.json
[
    {
        "id": "097713a283a7245f",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ec5caf0b746d7170",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "aade62f79cd52ed5",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "15ba7213a31d42c5",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "ec5caf0b746d7170",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "aade62f79cd52ed5",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "293f331604d8fd67",
        "type": "ui-group",
        "name": "Group 1",
        "page": "15ba7213a31d42c5",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "9682b326129ee7e2",
        "type": "mqtt-broker",
        "name": "LocalHost",
        "broker": "127.0.0.1",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "96d52f54993e2158",
        "type": "http request",
        "z": "097713a283a7245f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "6002f2700e0cc4fe",
        "type": "inject",
        "z": "097713a283a7245f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "9fcfca3aefa5badb",
                "da5ce0b242f74fa8"
            ]
        ]
    },
    {
        "id": "61bb85fa6c4314cc",
        "type": "http in",
        "z": "097713a283a7245f",
        "name": "",
        "url": "/sensores/:temp/:hum",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "5962800357fe7a07",
                "b1a09da37aeba77d",
                "45f9ef97649f68da",
                "e701ee06c3ad9d48"
            ]
        ]
    },
    {
        "id": "5962800357fe7a07",
        "type": "http response",
        "z": "097713a283a7245f",
        "name": "OK",
        "statusCode": "200",
        "headers": {},
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "e701ee06c3ad9d48",
        "type": "debug",
        "z": "097713a283a7245f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 340,
        "wires": []
    },
    {
        "id": "b1a09da37aeba77d",
        "type": "change",
        "z": "097713a283a7245f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.params.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 320,
        "wires": [
            [
                "06f704519b1fe2f4"
            ]
        ]
    },
    {
        "id": "45f9ef97649f68da",
        "type": "change",
        "z": "097713a283a7245f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.params.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 420,
        "wires": [
            [
                "9f5f510e32af1134"
            ]
        ]
    },
    {
        "id": "06f704519b1fe2f4",
        "type": "ui-gauge",
        "z": "097713a283a7245f",
        "name": "temp",
        "group": "293f331604d8fd67",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperatura",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "41",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "61",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 650,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "9f5f510e32af1134",
        "type": "ui-gauge",
        "z": "097713a283a7245f",
        "name": "hum",
        "group": "293f331604d8fd67",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humedad",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "31",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "71",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 650,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "9fcfca3aefa5badb",
        "type": "random",
        "z": "097713a283a7245f",
        "name": "",
        "low": "0",
        "high": "100",
        "inte": "false",
        "property": "randomHum",
        "x": 320,
        "y": 80,
        "wires": [
            [
                "8242cb5e29d24478"
            ]
        ]
    },
    {
        "id": "da5ce0b242f74fa8",
        "type": "random",
        "z": "097713a283a7245f",
        "name": "",
        "low": "0",
        "high": "100",
        "inte": "false",
        "property": "randomTemp",
        "x": 320,
        "y": 140,
        "wires": [
            [
                "8242cb5e29d24478"
            ]
        ]
    },
    {
        "id": "8242cb5e29d24478",
        "type": "function",
        "z": "097713a283a7245f",
        "name": "function 1",
        "func": "msg.url = \"http://127.0.0.1:1880/sensores/\" + msg.randomTemp +\"/\" + msg.randomHum;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 80,
        "wires": [
            [
                "96d52f54993e2158"
            ]
        ]
    }
]